.mainContainer {
	width: 100%;
	height: 100vh;
	background-color: rgb(117, 117, 117);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.questionText {
	margin-bottom: 30px;
	background-color: rgb(34, 34, 34);
	width: 90%;
	height: 50%;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	align-items: center;
}
.questionBox {
	width: 50%;
	height: 50%;
	background-color: rgb(56, 56, 56);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	color: white;
	padding: 20px;
}
.questionBox input[type="text"] {
	width: 90%;
	padding: 10px;
	font-size: large;
	border-radius: 10px;
	border: none;
	text-align: center;
	background-color: rgb(34, 34, 34);
	color: white;
}
.questionBox input[type="text"]:focus {
	outline: none;
	color: white;
}
.questionNumber {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
.resultTitle {
	background-color: black;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 40px;
}
.button {
	width: 100%;
	height: 50px;
	background-color: rgb(255, 114, 114);
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
}
